<!--<script src="http://cdnjs.cloudflare.com/ajax/libs/ace/1.1.3/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>-->
<div class="webcreator_block">
    <div class="visor">
        <h1>Zona de visualización del código:</h1>
        <iframe></iframe>
    </div>
    <div class="problem" role="application">
      <h1>Área de introducción de código:</h1>
      <div class="tabbheaders">
          <a onclick="showStuff('htmleditor',this);" class="tabheader" >HTML</a>
          <a onclick="showStuff('csseditor',this);" class="tabheader" >CSS</a>
          <a onclick="showStuff('jseditor',this);" class="tabheader" >Javascript</a>
      </div>
      <div class="tabcontents">
          <div id="htmleditor" class="editor" value="{{htmlCode}}"></div>
          <div id="csseditor" class="editor" value="{{cssCode}}"></div>
          <div id="jseditor" class="editor" value="{{jsCode}}"></div>
      </div>
      <div class="action">
            <input class="actions display" type="button" data-checking="Checking..." value="Visualizar">
            <input id="guardar" class="actions save" type="button" data-checking="Checking..." value="Guardar">
            <input id="resetear" class="actions reset" type="button" data-checking="Checking..." value="Reiniciar">
            <input id="eval" class="actions eval" type="button" data-checking="Checking..." value="Guardar y Evaluar">
            <!--<input id="unlock" class="actions unlock" type="button" data-checking="Checking..." value="Unlock">-->
            <input id="valor" class="actions prueba" type="hidden" data-checking="Checking..." value="{{evaluated}}">

      </div>
     <div id="saving">
         <p>Guardando...</p>
     </div>
     <div id="resetting">
         <p>Volviendo a códigos iniciales HTML, CSS y Javascript...</p>
     </div>
     <div id="sending">
         <p>Guardando y enviando solución para ser evaluada por el profesor...</p>
     </div>

    <!--  {{staff}}
      {{instructor}}-->
      {% if graded %}
        <div><h2>Nota del ejercicio tras la corrección: {{graded.score}}</h2></div>
        <div><h2>Comentarios del profesor: {{graded.comment}}</h2></div>
      {% endif %}
      {% if staff %}
     <!--   <div class="action">
            <input class="actions correction" type="button" data-checking="Checking..." value="Corregir">

        </div> -->

        <div aria-hidden="true" class="wrap-instructor-info">
            <a class="instructor-info-action" id="grade-submissions-button" href="#tablon">Grade Submissions</a>


        </div>



      <section aria-hidden="true" class="modal staff-modal" id="tablon" style="height: 75%">

          <div class="inner-wrapper" style="color: black; overflow: auto;">
              <header><h2>Lista de alumnos que han subido su ejercicio para evaluar:</h2></header>
              <div id="notas"> <!--class="staff-modal"-->


              </div>
          </div>
      </section>

      <div id="grade-area">


      </div>
    {% endif %}

    </div>

</div>